# Ignore .env file
.env

# Ignore node_modules directory if you have one
/node_modules/

# Ignore .DS_Store files (created by macOS)
.DS_Store

# Ignore any log files
*.log

# Ignore Composer's .lock file
composer.lock

# Ignore secret.php file
secret.php